@tailwind base;
@tailwind components;
@tailwind utilities;

.color_bg_banner{
  background: rgb(92,30,3);
background: linear-gradient(90deg, rgba(92,30,3,0.7008053221288515) 2%, rgba(92,30,3,1) 62%);
}
.color_bg_card{
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

.inter-body-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.sh_text{
  text-shadow:
  -1.5px -1.5px 0 white,  
  1.5px -1.5px 0 white,
  -1.5px 1.5px 0 white,
  1.5px 1.5px 0 white;
}
.sh_text_info{
  text-shadow:
  -3px -3px 0 white,  
  3px -3px 0 white,
  -3px 3px 0 white,
  3px 3px 0 white;
}

.sh{
  box-shadow: 0px 1px 5px 2px #4f4f4f ;
}
.shd{
  -webkit-box-shadow: 0px 11px 11px -4px rgba(255, 99, 132, 0.47);
-moz-box-shadow: 0px 11px 11px -4px rgba(255, 99, 132, 0.47);
box-shadow: 0px 11px 11px -4px rgba(255, 99, 132, 0.47);
}